/* 
    colors on app

    Warm colors
    Warm Dark           #f19c82
    Warm Medium         #ffbaa3
    Warm Medium         #eecca8
    Warm Light          #fad4af

    Cold colors
    Cold Dark           #1c3b88
    Cold Medium         #524ea4
    Cold Medium         #403d6a
    Cold Light          #6365cf

    Gray                #2f4f4f
*/


@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');


:root {
    box-sizing: border-box;
}
*, 
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}
h1, h2, p {
    margin: 0;
}

.app-container {
    max-width: 450px;
    margin: 0 auto;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.wrapper {
    padding: 20px;
}

.app-header {
    height: 60%;
    background: #2C5364;
    background: url('bg.png') no-repeat bottom center, linear-gradient(to top, #2C5364, #203A43, #0F2027);
    color: #fff;
}
.app-header__buttons {
    text-align: left;
    display: flex;
    align-items: center;
}
.map-btn {
    padding-right: 20px;
    cursor: pointer;
}
.map-btn > img {
    width: 25px;
}
.app-header__buttons p {
    font-weight: 400;
}
.app-header__search {
    margin-left: auto;
}

.app-header__search input {
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 100%;
    width: 120px;
    padding: 5px 0;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: rgba(255, 255, 255, .75);
    transition: all .5s;
}
/*
.app-header__search input[type=search]:focus {
    width: 150px;
    padding-right: 25px;
	color: #fff;
}
.app-header__search input:-moz-placeholder {
	color: #fff;
}
.app-header__search input::-webkit-input-placeholder {
	color: #fff;
} */
#search-btn {
    cursor: pointer;
}
.app-header__screen {
    padding: 40px 0 140px;
}
.app-header__screen h1 {
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1.2px;
    padding: 20px;
}
.app-header__screen .temperature {
    font-size: 42px;
}
#conditions img {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    padding-right: 5px;
    filter: brightness(0) invert(1); /* white icon */
}

.app-body__icons,
.app-body__temp-icons {
    display: flex;
    justify-content: space-evenly;
}
.app-body__icon {
    width: 110px;
    height: 80px;
    padding: 10px 0 20px;
    background: #2C5364;
    background: linear-gradient(to top, #2C5364, #203A43, #0F2027);
    color: #fff;
    border-radius: 5px;
    position: relative;
    top: -40px;
}
.app-body__icon > img {
    width: 40px;
}
.app-body__temp-icons {
    color: #2f4f4f;
    margin-bottom: 40px;
}

.app-nav__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}
.app-nav__list > li {
    padding: 10px 20px 20px;
    cursor: pointer;
}
.app-nav__list > li > a {
    text-decoration: none;
    color: #2f4f4f;
    font-weight: 400;
}
.app-nav__list .active a {
    color: #f19c82;
}

/* WAY TO CHANGE SVG IMG */
/* .svg-img {
    filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg);
} */


@media all and (max-width: 768px) {
    html, body, .app-container {
        height: 100%;
    }
    .app-header {
        height: 65%;
    }
    .app-body {
        height: 25%;
    }
    .app-footer {
        height: 10%;
    }
}